body
{
    font-family: "Audiowide", sans-serif;
    background-color: rgba(255, 255, 255, 0.397);
    flex-direction: column;
    display: flex;
    justify-content: center ;
    justify-items: flex-end;
    align-content: center;
    align-items: center;
}
.pedido
{
    width: 850px;
    height: 150px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    justify-items: flex-end;
    align-content: center;
    align-items: center;
    font-size: 15px;
}
.logo
{
    width: 100px;
    z-index: 1;
    margin-top: 10px;

}
.tudo
{   border-radius: 10px;
    border-color: rgb(31, 85, 82);
    border-style: solid;
    width: 30%;
    height: 200PX;
    flex-direction: column;
    display: flex;
    justify-content: center ;
    justify-items: center;
    align-content: center;
    align-items: center;
    animation: wonble 10s;
}